<section class="about section">
    <div class="section-inner">
        <h2 class="heading">About Me</h2>
        <div class="content">
            <p>Hi there, my name is Bernardo Silva, an enthusiast developer since I first learned about HTML and PHP around 2005.</p>

            <p>In the last years I've become even more excited with build awesome web applications and about all the new tools that now exist to automate all the development process.</p>

            <p>I can't work without music and during my free time I am a mountain bike addicted.</p>

        </div><!--//content-->
    </div><!--//section-inner-->
</section><!--//section-->