    <!-- Header -->
    <header class="header">
        <div class="container">
            <img class="profile-image img-responsive pull-left" src="images/profile.png" alt="James Lee" />
            <div class="profile-content pull-left">
                <h1 class="name">{{ site.title }}</h1>
                <h2 class="desc">{{ site.skills }}</h2>
                <ul class="social list-inline">
                    <li><a href="https://twitter.com/BernardoVSilva" target="_blank"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="https://plus.google.com/u/0/+BernardoSilvaPT" target="_blank"><i class="fa fa-google-plus"></i></a></li>
                    <li><a href="https://www.linkedin.com/in/bernardovieirasilva" target="_blank"><i class="fa fa-linkedin"></i></a></li>
                    <li><a href="https://github.com/BernardoSilva" target="_blank"><i class="fa fa-github-alt"></i></a></li>
                    <li class="last-item"><a href="https://vimeo.com/bernardosilva" target="_blank"><i class="fa fa-vimeo-square"></i></a></li>
                </ul>
            </div><!--//profile-->
            <a class="btn btn-cta-primary pull-right" href="mailto:benny.stuff@gmail.com"><i class="fa fa-paper-plane"></i> Contact Me</a>
        </div><!--//container-->
    </header><!--//header-->